PORT=3001

APP_URL=http://localhost:3000
BACKEND_URL=http://localhost:3001

SECRET=SECRET
AUTH_KEY=AUTH_KEY

COOKIE_DOMAIN=localhost

POSTGRES_URL=postgres://user:password@address/db

RESEND_API_KEY=RESEND_API_KEY
SENDER_EMAIL_FROM="Sanchir <noreply@updates.sanchir.dev>"

GOOGLE_CLIENT=GOOGLE_CLIENT
GOOGLE_SECRET=GOOGLE_SECRET